.gamepage {
  width: fit-content;
  display: grid;
  grid-template-areas:
    "guess-box guess-box"
    "seconds seconds"
    "canvas canvas";
}

.guess-box {
  display: flex;
  grid-area: guess-box;
  background-color: yellow;
  border-radius: 20px;
  width: 50vw;
  margin: auto;
  font-size: 50px;
  margin-left: 16%;
  margin-bottom: 40px;
  align-items: baseline;
  justify-content: center;
  height: 160px;
}

.timer {
  margin-left: 20%;
  margin-top: -8%;
}

.guess-box p {
  font-size: 50px;
}

.guess-box form {
  font-size: 35px;
}

.guess-box form input {
  font-size: 25px;
  border: solid black;
  border-radius: 20px;
}

.guess-box form button {
  font-size: 20px;
  padding: 0.5rem;
  margin-left: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

#game-display {
  position: absolute;
  padding-top: none;
  width: 200px;
  margin-left: -155px;
  font-size: 25px;
  list-style: none;
}

#host-display {
  border: 2px solid;
  border-radius: 10px;
  padding-top: 5px;
  background-color: rgb(0, 102, 255);
  margin-bottom: 20px;
}

#players-display {
  background-color: yellow;
  border: 2px solid;
  border-radius: 10px;
  padding-top: 5px;
}

#display--name {
  color: white;
  margin: 0;
  text-shadow: -1px 1px 0 #000, 1px 2px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

#display--points {
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 2px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

#players-display {
  background-color: rgb(106, 181, 2);
}

#display--name {
  color: white;
}

#display--points {
  color: white;
}

.seconds {
  color: white;
  grid-area: seconds;
  font-size: 50px;
  color: yellow;
}

canvas {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  border: solid black;
  border-radius: 20px;
  margin-bottom: 50px;
  /* max-width: 850px;
  max-height: 750px; */
}

.Menu {
  width: 650px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10px;
}

.timer p {
  border: solid black;
  background-color: rgb(248, 84, 245);
  border-radius: 50%;
  width: 120px;
  height: 100px;
  font-size: 70px;
  padding-top: 18px;
  margin: auto;
  margin-top: 1em;
}

.alertMessage {
  font-size: 40px;
  position: absolute;
  margin-left: 12%;
  height: fit-content;
  padding: 2rem;
  width: 40vw;
  height: 100px;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  border: solid white;
  color: white;
}

.Menu {
  margin-bottom: 20px;
}

#hide {
  background-color: inherit;
  color: rgb(255, 0, 111);
  border: rgb(255, 0, 111);
  background-color: rgb(255, 0, 111);
  border: none;
}
