.gamepage-mother-component {
  height: 700px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-page {
  height: 500px;
  width: 700px;
  display: flex;
}

.canvas-menu {
  width: 700px;
  height: 50px;
  display: flex;
  border: solid black;
  border-radius: 20px;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background-color: #ffffff;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 5px;
}

canvas#canvas1,
video,
.ARCanvas,
#canvas {
  margin-top: 0px;
  height: 520px;
  width: 700px;
  display: flex;
  justify-content: space-around;
  border: solid black;
  border-radius: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

canvas#canvas1,
video,
.ARCanvas {
  justify-content: flex-start;
  border: none;

  margin-top: -18px;
}

video {
  width: 850px;
}

#display-canvas-container {
  display: flex;
  align-content: space-between;
}

#game-display-container {
  height: 520px;
  width: 100px;
  padding-top: 0px;
  font-size: 25px;
  list-style: none;
  margin-right: 10px;
}

#host {
  height: 100px;
  width: 100px;
  font-size: 22px;
  background-color: blue;
  border-radius: 10px;
  border: 2px solid;
  margin-bottom: 5px;
}

#players {
  width: 100px;
  font-size: 22px;
  height: 400px;
  background-color: rgb(106, 181, 2);
  border-radius: 10px;
  border: 2px solid;
}

#display--name--host {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  text-shadow: -1px 1px 0 #000, 1px 2px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

#display--name--players {
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  text-shadow: -1px 1px 0 #000, 1px 2px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

#display--points {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 2px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

#current-word {
  margin-left: 50px;
}

.guess-box {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  border-radius: 20px;
  width: 700px;
  margin-top: 100px;
  font-size: 50px;
  margin-left: 16%;
  margin-bottom: 40px;
  height: 160px;
}
.guess-box form button {
  font-weight: bold;
  font-size: 20px;
  border: solid black;
  padding: 0.5rem;
  margin-left: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

#player-guess-box {
  padding-bottom: 10px;
}

#guess-the-word {
  margin-bottom: 0px;
}

#input-and-submit {
  margin-left: 50px;
  margin-bottom: 20px;
}

#guess-submit-button {
  margin-left: 20px;
}

.timer {
  margin-right: 30px;
  margin-top: -8%;
}

.seconds {
  color: white;
  grid-area: seconds;
  font-size: 50px;
  color: yellow;
}

.timer p {
  border: solid black;
  background-color: rgb(248, 84, 245);
  border-radius: 50%;
  width: 120px;
  height: 100px;
  font-size: 70px;
  padding-top: 18px;
  margin: auto;
  margin-top: 1em;
}

.alertMessage {
  position: absolute;
  height: fit-content;
  padding: 2rem;
  height: 110px;
  background-color: rgb(255, 0, 0);
  border: solid white;
  color: rgb(255, 0, 111);
  font-size: 50px;
  margin: 0;
  margin-top: -17%;
  margin-left: 11%;
  width: 620px;
  border-radius: 25px;
}
