@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

main {
  padding-left: 2rem;
  padding-right: 2rem;
}
.blackOutApp {
  z-index: 1;
}

body {
  font-family: "Bebas Neue", cursive;
}

.blackOutApp,
img {
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.8);
  text-align: center;
}

.blackOutApp img {
  filter: brightness(25%);
}

.blackOutApp a {
  color: black;
  background-color: none;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem;
}

.blackOutApp button {
  filter: brightness(20%);
}

.blackOutApp .submitBtn {
  filter: brightness(100%);
}

.blackOutApp .login-submit-button {
  filter: brightness(100%);
}

.App {
  background-color: rgb(0, 0, 0);
  height: 201vh;
}

.App a {
  text-decoration: none;
  padding: 0.5rem;
}

.Homepage-Options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

section.Room {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.enterButton,
.deleteButton,
.disabledButton,
.showButton,
.addButton,
.button {
  border: solid;
  padding: 0.5rem;
  width: 80px;
  border-radius: 15px;
}

.enterButton {
  background-color: #0040ff;
  border: 0px;
}

.hostButton,
.enterButton span {
  color: white;
  font-size: 15px;
}

.hostButton {
  border-radius: 15px;
  background-color: white;
}

.hostButton span {
  color: black;
}

.addButton {
  width: 100px;
  color: white;
  background-color: red;
  border: red;
  border-radius: 15px;
}

.addButton span {
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
}

.searchBox {
  border: solid;
  border-radius: 15px;
}

.buttonTxt {
  font-family: "Bebas Neue", cursive;
}

.dropDownBtn {
  margin-left: 50px;
  position: relative;
}

.showButton {
  margin-left: 75px;
}

.Homepage-Options form input {
  padding: 0.5rem;
}

.OpenRoomList,
.RoomList {
  border: solid;
  overflow-y: scroll;
  height: 310px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: yellow;
}

.OpenRoomList {
  height: 400px;
}

ul.RoomList {
  padding: 0px;
}

.buttons p {
  font-size: 12px;
  border: solid;
  padding: 0.5rem;
  margin: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Leaderboard {
  border: solid;
  color: red;
  height: 300px;
  width: 300px;
}

.RoomName,
.dropdown {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: -10px;
}

select {
  width: 100px;
  margin: auto;
  padding: 0.5rem;
}

.RoomName {
  width: 200px;
  margin: auto;
  padding: 0.5rem;
  margin-top: 0px;
}

.roomNameInput {
  padding: 0.5rem;
}

label {
  padding: 0.8rem;
}

form {
  font-size: 20px;
}

.AddRoomBox {
  height: 400px;
  width: 350px;
  border: solid;
  margin: auto;
  margin-left: -15px;
  margin-top: -40%;
  z-index: 9;
  position: absolute;
  background-color: white;
}

.LogInBox {
  height: 300px;
  width: 350px;
  border: solid 2px white;
  margin: auto;

  z-index: 9;
  position: fixed;
  background-color: rgb(0, 0, 0);
}

.login-submit-button {
  border: 1px red;
  border-radius: 15px;
  padding: 0.5rem;
  background-color: red;
  color: white;
  font-weight: 700;
}

label.login-label {
  color: white;
}

h2 {
  font-size: 38px;
  color: yellow;
}

.submitBtn {
  margin: auto;
  margin-top: 40px;
  padding: 0.5rem;
  font-size: 15px;
  width: 100px;
}

.blackInput {
  filter: brightness(20%);
  border: solid rgb(14, 14, 14);
}

.searchRoom,
label,
input {
  z-index: 8;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 15px;
}

.peopleInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.peopleIcon {
  font-size: 18px;
  margin-top: 5px;
  margin-right: 3px;
}

.BriefIns {
  margin-top: -10px;
  font-size: 25px;
  color: white;
  font-weight: 400;
}

.disabledButton {
  border: solid grey;
  background-color: rgb(220, 220, 220);
}

button {
  background-color: white;
}

.KeyInfo {
  display: flex;
  justify-content: space-around;
  border: 3px solid;
  border-radius: 15px;
  background-color: #0040ff;
  color: rgb(255, 244, 87);
  font-size: 22px;
  margin-top: 32px;
  font-weight: 500;
}

.buttons button {
  margin: 1px;
}

.buttons {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
}

ul.OpenRoomList {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.roomInfo {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.mode {
  margin-top: 5px;
}

.roomInfo li {
  font-weight: bold;
  font-size: 25px;
}

.dark {
  background-color: rgba(184, 184, 184, 0.3);
}

.OpenRooms {
  margin-top: 35px;
  margin-bottom: 5px;
}

.closedRoomsHeader {
  margin-bottom: 18px;
}

.leaderboardHeader {
  color: white;
}
