main {
  padding-left: 2rem;
  padding-right: 2rem;
}
.blackOutApp {
  z-index: 1;
}

.blackOutApp,
img {
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.8);
  text-align: center;
}

.blackOutApp img {
  filter: brightness(25%);
}

.blackOutApp a {
  color: black;
  background-color: none;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem;
}

.blackOutApp button {
  filter: brightness(20%);
}

.blackOutApp .submitBtn {
  filter: brightness(100%);
}

.blackOutApp .login-submit-button {
  filter: brightness(100%);
}

.App {
  background-color: rgb(255, 239, 57);
}

.App a {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
}

.Homepage-Options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

section.Room {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.disabledButton,
.showButton,
.addButton,
.button {
  border: solid;
  padding: 0.5rem;
  width: 80px;
}

.dropDownBtn {
  margin-left: 50px;
  position: relative;
}

.showButton {
  margin-left: 75px;
}

.Homepage-Options form input {
  padding: 0.5rem;
}

.OpenRoomList,
.RoomList {
  border: solid;
  overflow-y: scroll;
  height: 310px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.OpenRoomList {
  height: 400px;
}

ul.RoomList {
  padding: 0px;
}

.buttons p {
  font-size: 12px;
  border: solid;
  padding: 0.5rem;
  margin: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Leaderboard {
  border: solid;
  height: 300px;
  width: 300px;
}

.RoomName,
.dropdown {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: -10px;
}

select {
  width: 100px;
  margin: auto;
  padding: 0.5rem;
}

.RoomName {
  width: 200px;
  margin: auto;
  padding: 0.5rem;
  margin-top: 0px;
}

.roomNameInput {
  padding: 0.5rem;
}

label {
  padding: 0.8rem;
}

form {
  font-size: 20px;
}

.AddRoomBox {
  height: 400px;
  width: 350px;
  border: solid;
  margin: auto;
  margin-left: -15px;
  margin-top: -40%;
  z-index: 9;
  position: absolute;
  background-color: white;
}

.LogInBox {
  height: 300px;
  width: 350px;
  border: solid;
  margin: auto;
  margin-left: -15px;
  margin-top: -30%;
  z-index: 9;
  position: fixed;
  background-color: white;
}

.AddRoomBox h2 {
  font-size: 30px;
}

.submitBtn {
  margin: auto;
  margin-top: 40px;
  padding: 0.5rem;
  font-size: 15px;
  width: 100px;
}

.blackInput {
  filter: brightness(20%);
  border: solid rgb(14, 14, 14);
}

.searchRoom,
label,
input {
  z-index: 8;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 15px;
}

.peopleInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.peopleIcon {
  font-size: 18px;
  margin-top: 5px;
  margin-right: 3px;
}

.BriefIns {
  font-size: 25px;
}

.disabledButton {
  border: solid grey;
  background-color: rgb(220, 220, 220);
}

button {
  background-color: white;
}

.KeyInfo {
  display: flex;
  justify-content: space-around;
  border: 1px solid;
}

.buttons button {
  margin: 1px;
}

.buttons {
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
}

ul.OpenRoomList {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.roomInfo {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.mode {
  margin-top: 5px;
}

.roomInfo li {
  font-weight: bold;
  font-size: 15px;
}

.dark {
  background-color: rgba(184, 184, 184, 0.3);
}
