.blackOutRoompage,
.Roompage {
  height: 100vh;
  color: white;
}

.RoomPageButtons {
  display: flex;
  justify-content: space-between;
}

.ready-button,
.exit-button {
  border: solid black;
  width: 150px;
  padding: 1rem;
  font-size: 18px;
  color: white;
  border-radius: 15px;
  text-shadow: -1px 1px 0 #000,
  1px 2px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.ready-button {
  background-color: rgb(136, 201, 39);
}

.exit-button {
  background-color: red;
  
}

.chat {
  border: solid black;
  border-radius: 15px;
  background-color: white;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.playerInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

p.modeRoompage {
  border: 1px solid;
  width: 100px;
  margin-left: 33%;
  padding: 0.2rem;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.roomTitle {
  font-size: 50px;
  margin: 0;
  color: yellow;
  text-shadow: -1px 1px 0 #000,
  1px 5px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

#Logbox {
  position: absolute;
  margin-bottom: 100px;
}

.chatInput {
  border: 2px solid black;
  border-radius: 15px;
}

.chatBttn {
  border: solid black;
  padding: 5px;
  margin: 10px;
  color: white;
  background-color: red;
  border-radius: 15px;
  text-shadow: -1px 1px 0 #000,
  1px 2px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}
