.blackOutRoompage,
.Roompage {
  height: 100vh;
}

.RoomPageButtons {
  display: flex;
  justify-content: space-between;
}

.ready-button,
.exit-button {
  width: 150px;
  padding: 1rem;
  font-size: 18px;
  color: white;
}

.ready-button {
  background-color: green;
}

.exit-button {
  background-color: red;
}

.chat,
.playersBoard {
  border: solid;
  height: 250px;
}

.playerInfo {
  display: flex;
  justify-content: space-evenly;
}
