.blackOutRoompage,
.Roompage {
  height: 100vh;
}

.RoomPageButtons {
  display: flex;
  justify-content: space-between;
}

.ready-button,
.exit-button {
  width: 150px;
  padding: 1rem;
  font-size: 18px;
  color: white;
}

.ready-button {
  background-color: green;
}

.exit-button {
  background-color: red;
}

.chat {
  border: solid;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.playerInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

p.modeRoompage {
  border: 1px solid;
  width: 100px;
  margin-left: 33%;
  padding: 0.2rem;
}

.roomTitle {
  font-size: 32px;
}

#Logbox {
  position: absolute;
  margin-bottom: 100px;
}
