.Homepage-Options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Homepage-Options p {
  border: solid;
  padding: 0.5rem;
}

.Homepage-Options form input {
  padding: 0.5rem;
}
