.App {
  text-align: center;
}

.header {
  border: 2px solid blue;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-profile-pic {
  width: 60px;
  height: 50px;
  border-radius: 100%;
  border: solid 1px black;
}

.form {
  border: 2px solid yellow;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-label {
  margin-bottom: 5px;
}

.login-submit-button {
  margin: 1rem;
}

.leaderboard {
  border: 2px solid pink;
  padding: 1rem;
}

.leaderboard-user {
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.leaderboard-list {
  display: flex;
  align-items: center;
}

.home-username {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
}

.home-user {
  margin-top: 13px;
  margin-right: -20px;
}
